<p id="notice"><%= notice %></p>

<p>
  <strong>Status update:</strong>
  <%= @comment.status_update_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @comment.note %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
