<!-- status_updates/index.html.erb -->
<div id="scrum-page">
  <h1 id="scrum-date" class="text-center"><%= @today.strftime("%A, %B %-d") %></h1>
  <br />
  <!--
  <p class="text-center"><%= link_to "Add Update", new_status_update_path, :class => "btn btn-default" %></p>
  <br />
  -->

  <div id="status-updates" class="row">
      <div id="add-status-update" class="col-sm-6 col-md-4 col-lg-3">
        <div class="well">
          <h3>Add Scrum</h3>
          <%= render 'form' %>
        </div>
      </div>

    <% @status_updates.each do |status_update| %>
      <% current_user_name = (@users.select {|user| user.id == status_update.user_id}).map {|userhash| userhash['name']}.join %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="well">
          <h3><%= current_user_name %></h3>
          <hr />
          <h5>Done</h5>
          <p><%= status_update.done %></p>
          <h5>Doing</h5>
          <p><%= status_update.doing %></p>
          <h5>Blockers</h5>
          <p><%= status_update.blockers %></p>

          <br />

          <p class="muted"><small>You can <%= link_to 'edit', edit_status_update_path(status_update) %> or 
          <%= link_to 'delete', status_update, method: :delete, data: { confirm: 'Are you sure?' } %> this status.</small></p>

          <hr />

          <% total_comments = @comments.select {|comment| comment.status_update_id == status_update.id} %>
          <p><strong>
            <%= link_to status_update do %>
              <%= total_comments.length %> Comments &raquo;
            <% end %>
          </strong></p>
          <!--<p><%= link_to 'New Comment', new_comment_path %></p>-->
        </div>
      </div>
    <% end %>
  </div>
</div>
