<!-- status_updates/index.html.erb -->
<div id="scrum-page">
  <h1 class="text-center">Scrum for TODAYS DATE</h1>
  <br />
  <!--
  <p class="text-center"><%= link_to "Add Update", new_status_update_path, :class => "btn btn-default" %></p>
  <br />
  -->

  <div id="status-updates" class="row">
      <div id="add-status-update" class="col-sm-6 col-md-4 col-lg-3">
        <div class="well">
          <h3>Add Scrum</h3>
          <%= render 'form' %>
        </div>
      </div>

    <% @status_updates.each do |status_update| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="well">
          <h3>Update from User #<%= status_update.user_id %></h3>
          <h5>Done</h5>
          <p><%= status_update.done %></p>
          <h5>Doing</h5>
          <p><%= status_update.doing %></p>
          <h5>Blockers</h5>
          <p><%= status_update.blockers %></p>
          <hr />
          <p><%= link_to 'Edit', edit_status_update_path(status_update) %><br />
          <%= link_to 'Delete', status_update, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <hr />
          <p>Current comments: <%= @current_comments.length %> (not working)<br />
          <%= link_to '## Comments', status_update %></p>
          <!--<p><%= link_to 'New Comment', new_comment_path %></p>-->
        </div>
      </div>
    <% end %>
  </div>
</div>
