<!-- status_updates/show.html.erb -->

<div id="status-update-page" class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="well">

      <h1 class="text-center">Status Update for <%= @current_user_name %></h1>
      <h3 class="text-center muted">on <%= @status_update.created_at %></h3>
      <hr />

      <h4>Done</h4>
      <p class="lead muted"><%= @status_update.done %></p>

      <h4>Doing</h4>
      <p class="lead muted"><%= @status_update.doing %></p>

      <h4>Blocked By</h4>
      <p class="lead muted"><%= @status_update.blockers %></p>

      <hr />

      <p><%= link_to 'Edit', edit_status_update_path(@status_update) %><br />
      <%= link_to 'Delete', @status_update, method: :delete, data: { confirm: 'Are you sure?' } %></p>

      <hr />

      <h3><%= @current_comments.length %> Comments</h3>

      <% @current_comments. each do |comment| %>
        <!--
        <p><%= comment.status_update_id %></p>
        -->
        <hr />
        <h4>User id #<%= comment.user_id %> said:</h4>
        <p>"<%= comment.note %>"</p>
        <p><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>

    </div>
  </div>
</div>
