<!DOCTYPE html>
<html>
<head>
  <title>Scrumble</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id="wrapper">
  <nav id="header" class="navbar navbar-default" role="navigation">
    <p class="navbar-text">SCRUMBLE</p>
  </nav>

  <div id="main-content">
    <div class="container-fluid">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %> 
      
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
